@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
	--backgroundcolor : rgb(32, 32, 32);
	--spotifytext : rgb(87, 234, 139);
	--spotifygreen: rgb(33, 177, 84);
	--spotifygreentext: rgb(238, 236, 233);
	--spotifygray: rgb(170, 170, 170);
	--spotifybackground: rgb(45, 45, 45);
}

body {
	// box-sizing: border-box;
	background-color: var(--backgroundcolor);
	color: var(--spotifygreentext);
	margin: auto;
	font-family: 'Roboto';
}

.navbar {
	width: 5em;
	height: 100vh;
	background-color: var(--spotifybackground);
	position: fixed;

	.navbar-nav {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 100%;
		gap: 2em;

		.nav-item {
			width: 70%;

			a {
				text-decoration: none;
				color: var(--spotifygray);

				.link-text:hover {
					color: var(--spotifygreentext);
				}
			}
		}


		.nav-item:first-child {
			top: 0;
			margin-top: 1em;
			position: absolute;
			img {
				height: 3em;
				width: 3em;
			}
		}

		.nav-item:last-child {
			bottom: 0;
			position: absolute;
			margin-bottom: 1em;
		}
	}
}

.main-container {
	padding: 4em 2em;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .album-cover {
            .album-image {
                height: 8em;
                width: 8em;
                object-fit: cover;
            }
        }

        .header-info {

            .album-type {
                display: none;
            }

            .album-name {
                font-size: 1.5em;
                text-align: center;
                margin-top: .5em;
                font-weight: 500;
            }

            .album-details{
                display: flex;
                flex-direction: row;
                gap: .5em;
                justify-content: center;
                align-items: center;

                .artist-name {
                    color: var(--spotifygray);
                    font-size: 0.8em;
                }

                .dot-separator {
                    height: .3em;
                    width: .3em;
                    background-color: var(--spotifygray);
                    border-radius: 50%;
                }

                .release-date {
                    color: var(--spotifygray);
                    font-size: 0.8em;
                }

                .total-tracks {
                    display: none;
                }

                .total-track-time {
                    display: none;
                }
            }
        }
    }

	.track-data {
        margin-top: 3em;

		.track-data-list {

			.track-list{
				margin-top: 1em;
				list-style-type: none;
				padding-left: 0;

				.track-item {
					padding-bottom: 1em;

					a {
						display: grid;
						grid-template-columns: auto 1fr auto;
						gap : 1em;
						justify-content: start;
						align-items: center;
						text-decoration: none;
						color: var(--spotifygreentext);

						.data-image {
							width: 2.5em;
							height: 2.5em;
							object-fit: cover;
						}

						.track-details {
							display: flex;
							flex-direction: column;

							.track-artist-album {
								display: flex;
								font-size: .8em;
								color: var(--spotifygray);
								gap: .5em;
								justify-content: start;
								align-items: center;

								.data-dot-separator {
									height: .2em;
									width: .2em;
									background-color: var(--spotifygray);
									border-radius: 50%;
									opacity: 0.7;
								}
							}
						}

						&:last-child {
							padding-bottom: 0;
						}
					}

					.track-duration {
						font-size: .8em;
						color: var(--spotifygreentext);
						opacity: 0.7;
					}
				}
			}
		}

	}

    .footer {

        .footer-album-details {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;

            .dot-separator {
                background-color: var(--spotifygray);
                height: .3em;
                width: .3em;
                border-radius: 50%;
            }
        }

        .footer-artist {
            margin-top: .5em;
        }
    }

}


@media screen and (min-width: 480px) {

	.main-container {
		margin: 3em auto;
        max-width: 360px;
	}
}


@media screen and (min-width: 640px) {

	.main-container {
		margin: 3em auto;
        max-width: 480px;
	}
}


@media screen and (min-width: 768px) {

	.main-container {
		margin: 3em auto;
        max-width: 720px;

		.track-data {
            max-width: 640px;
            margin: 3em auto 0 auto;

			.track-data-list {

				.track-list {

					.track-item {
						
						a {
							.data-image {
								width: 3em;
								height: 3em;
							}

							.track-details {
								.data-name {
									font-size: 1em;
								}
							}
						}

						.track-duration {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: 1024px) {

	.main-container {
		margin: 0em auto;

		.track-data {

			.track-data-list {

				.track-list {

					.track-item {
						
						a {
							.data-image {
								width: 3em;
								height: 3em;
							}

							.track-details {
								.data-name {
									font-size: 1em;
								}
							}
						}

						.track-duration {
							font-size: 1em;
						}
					}
				}
			}
		}
	}
}

