:root{
	--backgroundcolor : rgb(32, 32, 32);
	--spotifytext : rgb(87, 234, 139);
	--spotifygreen: rgb(33, 177, 84);
	--spotifygreentext: rgb(238, 236, 233);
}


body{
	margin: 0;
	box-sizing: border-box;
	background-color: var(--backgroundcolor);
}

.loginBtnDiv {
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;

	.loginBtn {
		background-color: var(--spotifygreen);
		color: var(--spotifygreentext);
		font-size: 1em;
		font-weight: 600;
		padding: 1em 2em;
		border: none;
		border-radius: 1.5em;
		cursor: pointer;

		&:hover {
			border: 2px solid var(--spotifygreen);
			background-color: var(--backgroundcolor);
		}
	}

}
