<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load custom_filters %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user_analytics/album.css' %}">
    <title>Spotify - Album</title>
</head>
<body>

   <div class="main-container">
       <div class="header">
           <div class="album-cover">
               <img src="{{ albumData.images.1.url }}" alt="" class="album-image">
           </div>
           <div class="header-info">
               <div class="album-type">{{ albumData.album_type }}</div>
               <div class="album-name">{{ albumData.name }}</div>
               <div class="album-details">
                   <div class="artist-name">{{ albumData.artists.0.name }}</div>
                   <div class="dot-separator"></div>
                   <div class="release-date">{{ albumData.release_date|get_release_year }}</div>
                   <div class="total-tracks">{{ albumData.total_tracks }}</div>
                   <div class="total-track-time">{{ albumData|get_total_duration }}</div>
               </div>
           </div>
       </div>

		<div class="track-data">
			<div id="track-data-past-month" class="track-data-list">
				<ul class="track-list">
					{% for track in albumData.tracks.items %}
						<li class="track-item">
							<a href="{{ track.external_urls.spotify }}">
								<img src="{{ albumData.images.2.url }}" alt="" class="data-image">
								<div class="track-details">
									<div class="data-name">{{ track.name }}</div>
									<div class="track-artist-album">
										<div class="data-artist">{{ track.artists.0.name }}</div>
									</div>
								</div>
								<div class="track-duration">{{ track.duration_ms|ms_to_m_s }}</div>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>

        <div class="footer">
            <div class="album-release-date">{{ albumData.release_date|get_album_release_date }}</div>
            <div class="footer-album-details">
                <div class="total-tracks">{{ albumData.total_tracks }} songs</div>
                <div class="dot-separator"></div>
                <div class="total-track-time">{{ albumData|get_total_duration }}</div>
            </div>
            <div class="footer-artist">
                <!-- <img src="" alt="" class="footer-artist-image"> -->
                <div class="footer-artist-name">{{ albumData.artists.0.name }}</div>
            </div>
            <div class="license"></div>
        </div>

   </div>

</body>
</html>